@font-face{font-family:'OpenSans';src:url('font/OpenSans-Regular.ttf?v=4.6.3') format('truetype');font-weight:normal;font-style:normal}
*{
	margin:0;
	border:0;
	padding:0;
	box-sizing:border-box;
	transition:all .35s;
}
html,body{
	width:100%;
	height:100%;
	font-family:"OpenSans","微软雅黑","宋体",Arial,Verdana,arial,serif;
	color:#333;
}
li{
	list-style:none;
}
h1,h2,h3{
	font-weight:normal;
	line-height:2em;
}
h1{
	font-size:2.4rem;
}
h2{
	font-size:1.8rem;
}
h3{
	font-size:1.35rem;
}
p{
	line-height:1.5rem;
	color:#737373;
}
a{
	text-decoration:none;
}
.container{
	width:100%;
	height:100%;
}
.row{
	width:100%;
	text-align:center;
	padding:3rem 0;
}
.row:after,.clear:after{
	content:"";
	display:block;
	clear:both;
}
.first{
	width:100%;
	height:100%;
	padding-top:80px;
	position:relative;
}

/*顶部导航*/
.top{
	height:80px;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	background-color:#fff;
	z-index:555;
}
.top_inner{
	max-width:1280px;
	width:100%;
	margin:0 auto;
}
.logo{
	line-height:80px;
	font-size:1.8rem;
	float:left;
	margin-left:3rem;
}
.menu{
	float:right;
	margin-right:3rem;
}
.menu ul li{
	display:inline-block;
	font-size:18px;
	margin:0;
	padding:17px 20px;
	position:relative;
	cursor:pointer;
}
.menu ul li:after,.menu ul li:before{
	position:absolute;
	width:0;
	height:100%;
	background-color:#ccc;
	content:"";
	display:inline-block;
	top:0;
	opacity:.3;
	transition:all .35s;
}
.menu ul li:before{
	left:50%;
}
.menu ul li:after{
	right:50%;
}
.menu ul li:hover:after,.menu ul li:hover:before,.menu ul li.current:after,.menu ul li.current:before{
	width:50%;
}
.menu ul li span{
	font-size:14px;
}

/*轮播图*/
.banner{
	height:100%;
	width:100%;
	position:relative;
}
.dots{
	position:absolute;
	bottom:1.5rem;
	width:100%;
	text-align:center;
	z-index:333;
}
.dots span{
	display:inline-block;
	width:15px;
	height:15px;
	background-color:#fff;
	margin:0 3px;
	border-radius:50%;
	opacity:.5;
}

.product{
	height:100%;
	width:100%;
	background-size:cover;
	background-position:center center;
	position:absolute;
	left:0;
	top:0;
	opacity:0;
	z-index:1;
}
.inner{
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,.4);
	display:table;
}
.content{
	max-width:1280px;
	margin:0 auto;
}
.product .content{
	display:table-cell;
	vertical-align:middle;
}
.left{
	width:50%;
	float:left;
	text-align:right;
	padding:0 3rem;
}
.left img{
	width:100%;
	max-width:600px;
	height:auto;
}
.product_intro{
	margin-top:-1.5rem;
}
.product_intro h1,.product_intro p{
	color:#fff;
}
.right{
	text-align:left;
}
.product_demo{
	margin-top:1.5rem;
}
.btn{
	color:#fff;
	width:150px;
	text-align:center;
	display:inline-block;
	height:50px;
	line-height:50px;
	border:1px solid #fff;
	border-radius:5px;
	position:relative;
}
.btn:after,.btn:before{
	position:absolute;
	width:100%;
	height:0;
	background-color:#ccc;
	content:"";
	display:inline-block;
	left:0;
	opacity:.3;
	transition:all .35s;
}
.btn:after{
	top:50%;
}
.btn:before{
	bottom:50%;
}
.btn:hover:after,.btn:hover:before{
	height:50%;
}
.product_demo .btn{
	margin:0 10px 0 0;
}

.style .content{
	max-width:1150px;
}
.style_item{
	width:50%;
	float:left;
	text-align:left;
	margin:1rem 0;
	padding:0 1.5rem;
}
.style_item img{
	float:left;
	margin-right:1.5rem;
}

.skills{
	background-color:#f2f2f2;
}
.skills .content{
	max-width:850px;
}
.skill_title{
	text-align:right;
	font-size:3.5rem;
	color:#b3b3b3;
}
.skill_left{
	width:30%;
	float:left;
}
.skill_list{
	width:70%;
	float:right;
}
.skill_list>ul>li{
	line-height:1.5rem;
}
.skill_list>ul>li:after{
	content:"";
	clear:both;
	display:block;
}
.skill_name{
	width:130px;
	float:left;
	line-height:35px;
	text-align:right;
	margin-right:1rem;
}
.skill_outer{
	max-width:350px;
	width:100%;
	border:1px solid #333;
	height:11px;
	position:relative;
	border-radius:8px;
	float:left;
	margin-top:12px;
}
.skill_inner{
	position:absolute;
	top:-1px;
	left:0;
	height:11px;
	background-color:#333;
	border-radius:8px;
}

.about{
	background-image:url(img/about_bg.jpg);
	background-size:cover;
	background-position:center center;
}

.about_inner{
	width:100%;
	background-color:rgba(255,255,255,.7);
	height:100%;
}
.avatar img{
	width:85px;
	height:auto;
	border-radius:50%;
}
.author_name{
	line-height:2em;
	font-size:1.8rem;
}
.author_tags{
	margin-top:1rem;
}
.tag{
	display:inline-block;
	font-size:14px;
	padding:3px 8px;
	margin:0 5px;
	background-color:#666;
	color:#fff;
}
.more .btn{
	color:#333;
	border-color:#333;
	margin-top:1.5rem;
}
.contact .right{
	text-align:left;
}

.footer{
	color:#999;
	font-size:.9rem;
	line-height:3rem;
	text-align:center;
}


@media screen and (max-width:800px){
	.menu{
		display:none;
	}
	.style_item,.left,.right,.contact .right{
		width:100%;
		text-align:center;
	}
	.left{
		float:none;
		margin-bottom:1.5rem;
	}
	.skill_left,.skill_list{
		width:100%;
	}
	.skill_title{
		text-align:center;
	}
	.skill_list{
		padding:0 1.5rem;
	}
	.skill_name{
		text-align:left;
	}
	.skill_outer{
		margin-top:0;
		margin-bottom:12px;
	}
}